.text {
    height:25px;
    border-radius:10px;
    padding:3px;
    border:solid thin #aaa;
}

.button {
    
    font-size: 15px;
    padding:5px;
    width:90px;
    background-color:#D4E5E0;
    border-radius: 100px;
    border-color: white;
    
}

.button_dp{
    font-size: 13px;
    padding:5px;
    width:100px;
    background-color:lightblue;
    border-radius: 10px;
    border-color:white;
}
.logout_btn{
    padding-top: 4px;
    margin:10px;
    background-color:lightblue;
    border-radius: 5px;
    border-color:white;
}

.image{
    margin: auto;
    width: 50px;
    height: 50px;
    padding-left: 80px;
    padding-bottom:10px;

}


.title_pp{
    padding-left:10%;
    font-size:25px;
    font-weight:bold;
    padding-bottom:5%;
}

.analyser_btn{
    width:180px;
    padding:5px;
    background-color:rgba(193, 219, 230, 0.892);
    border-color:white;
    border-radius:5px;
}


.box_dp{
    margin-left:25px;
    margin-top:40px;
    font-size:20px;
    width: 500px;
    height: 200px;
    padding: 20px;
    
    
}

.box{
    font-size:20px;
    margin: auto;
    width:450px;
    height: 200px;
    padding: 20px;
    
}

.box_pp{

    margin:auto;
    margin-top:40px;
    font-size:20px;
    width:600px;
    background-color:azure;
    padding:20px;

}

.box_ld{
    font-size:20px;
    width: 450px;
    height: 200px;
    padding: 20px;
    
}
.box_plp{
    font-size:20px;
    width: auto;
    height: 200px;
    padding: 20px;
}


.dropbtn {
    margin:10px;
    background-color: #3C5B53;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:black;background-color: #D4E5E0;}
  body {
    margin: 0;
  }
